<%= render "layouts/banner", banner_text: nil %>

<section class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12 pd-t-70">
        <div class="row">
          <div class="col-md-8">
            <div class="courseArchive_sidebar right_sidebar">
              <div class="single_sidebar">
                <%= render "shared/single_profile", user: @user, histories: @histories %>
              </div>
              <div class="single_sidebar">
                <%= render "shared/user_histories", user: @user, histories: @histories %>
              </div>
            </div>
          </div>
          <%= render "shared/right_bar" %>
        </div>
      </div>
    </div>
  </div>
</section>
