<table class="stats">
  <tbody>
    <tr>
      <td class="key">Tổng Số kết quả:</td>
      <td class="value"><%= stats[:total] %></td>
      <td class="key">Số người hiến được:</td>
      <td class="value"><%= stats[:can_donate] %></td>
      <td class="key">Số người chưa hiến được:</td>
      <td class="value"><%= stats[:cannot_donate] %></td>
    </tr>
  </tbody>
</table>
