<table class="stats">
  <tbody>
    <tr>
      <td class="key">Số lượt hiến:</td>
      <td class="value"><%= stats[:histories] %></td>
      <td class="key">Số người hiến:</td>
      <td class="value"><%= stats[:users] %></td>
    </tr>
  </tbody>
</table>
