<% if object.errors.any? %>
  <div class="alert alert-danger">
    <ul class="list">
      <% object.errors.full_messages.each do |message| %>
        <li><%= message.html_safe %></li>
      <% end %>
    </ul>
  </div>
<% end %>
