$(document).ready(function() {
  $(document).on("click", ".toggle-maps", function(e) {
    $(".maps").toggleClass("hidden");
    $(".toggle-maps").toggleClass("show-maps");
    $(".location-picker").locationpicker("autosize");
  });

  $(".donation-type-wrapper").on("click", ".donation-type-whole_blood", function() {
    $(".platelet-count").addClass("hidden");
    $(".history-platelet-count").attr("disabled", "disabled");
  });

  $(".donation-type-wrapper").on("click", ".donation-type-platelets", function() {
    $(".platelet-count").removeClass("hidden");
    $(".history-platelet-count").removeAttr("disabled");
  });

  if ($(".error-messages").text().trim()) {
    $("#history-form-anchor").removeClass("hidden");
  }

  $(".select2").select2({
    theme: "bootstrap",
    width: "100%",
    language: {
      noResults: function() {
        var link_to_modal = "<a href='#' class='register-place'>Thêm mới?</a>";
        return "Địa điểm này không có sẵn. " + link_to_modal;
      }
    },
    escapeMarkup: function(markup) {return markup;}
  });

  $(document).on("click", ".register-place", function() {
    var url = "<%= new_admin_ajax_place_path %>";
    var search_query = $("select.select2").data("select2").$dropdown.find("input").val();
    var request_new_place = $.get(url, {place: {name: search_query}}, null, "script");
    request_new_place.error(function() {
      showNotification("Error " + e.status + ": " + e.statusText + ".", "danger");
    });
  });
});
