$(function() {
  $(".select2").select2({
    theme: "bootstrap",
    width: "100%",
    language: {
      noResults: function() {
        var link_to_modal = "<a href='#' class='register-place'>Thêm mới?</a>";
        return "Không tìm thấy kết quả. " + link_to_modal;
      }
    },
    escapeMarkup: function(markup) {return markup;}
  });
});
