<section id="slider">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="slider_area">
        <div id="slides">
          <ul class="slides-container">
            <%= render partial: "home/pinned_article", collection: @pinned_articles.decorate %>
          </ul>
          <nav class="slides-navigation">
            <a href="#" class="next"></a>
            <a href="#" class="prev"></a>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
