/* line 5, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.wrapper .main-panel {
  overflow: auto;
}
/* line 8, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.wrapper .sidebar, .wrapper .sidebar-wrapper, .wrapper .logo {
  background-color: #fff;
}
/* line 11, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.wrapper .sidebar::after {
  background-color: #fff;
}
/* line 14, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.wrapper .sidebar .sidebar-wrapper {
  overflow: auto;
}
/* line 18, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.wrapper .sidebar img.logo-image {
  position: absolute;
  top: 5px;
  left: 18px;
  width: 48px;
}
/* line 24, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.wrapper .sidebar a.simple-text {
  text-align: left;
  padding-left: 60px;
}

/* line 31, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.main-panel > .content {
  padding: 0px;
}

@media (min-width: 992px) {
  /* line 36, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
  .navbar-form {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 15px;
  }
}
/* line 45, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
form.header-form .form-group {
  margin: 0;
}

/* line 50, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.custom-pagination {
  margin-top: 15px;
  text-align: center;
}
/* line 54, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.custom-pagination .pagination-sm {
  display: inline-flex;
}
/* line 57, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.custom-pagination .pagination-sm li.active {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #9c27b0;
}
/* line 63, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.custom-pagination .pagination-sm li.active a {
  color: white;
}
/* line 69, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.custom-pagination .pagination-sm li a {
  font-size: 14px;
  line-height: 30px;
}

/* line 78, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.navbar-form.filter-form-customize .form-control {
  margin-left: 20px;
}
/* line 81, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.navbar-form.filter-form-customize .date-picker {
  width: 100px;
}

/* line 88, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.table-responsive table.table thead {
  border-bottom: 1px solid #d2d2d2;
}

/* line 96, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
table.table td span {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

/* line 102, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.table-group {
  table-layout: fixed;
}

/* line 107, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.card-content .nano-content {
  position: inherit !important;
  max-height: 300px;
}
/* line 111, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.card-content .table-content {
  padding: 0px;
}

/* line 116, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.link-success {
  padding: 1px 5px;
  border: 1px solid #4caf50;
  border-radius: 5px;
  background-color: rgba(76, 175, 80, 0.65);
  color: #ffffff;
  cursor: pointer;
}

/* line 125, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.link-success:hover,
.link-success:visited,
.link-success:focus {
  background-color: #4caf50;
  color: #ffffff;
}

/* line 132, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.text-primary {
  color: #9c27b0 !important;
}

/* line 136, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.row-gray {
  background-color: #f5f5f5 !important;
}

/* line 140, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.row-pickable {
  cursor: pointer;
}

/* line 144, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.row-pickable:hover {
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

/* line 150, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.customize-capcha {
  display: inline-block;
  margin: 0;
}
/* line 153, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.customize-capcha .alert-empty {
  border: 1px solid rgba(0, 0, 0, 0.54) !important;
  animation: border 0.8s ease;
}

@keyframes border {
  from {
    outline-color: rgba(156, 39, 176, 0.54);
    outline-width: 10px;
    outline-style: solid;
    outline-offset: -1px;
  }
  to {
    outline-width: 0px;
  }
}
/* line 171, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.btn-capcha {
  height: 41px;
  margin: 10px 0;
  width: 120px;
  position: absolute;
  right: 120px;
  bottom: 15px;
}
/* line 178, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.btn-capcha .customize-capcha {
  position: absolute;
  bottom: 7px;
}

/* line 184, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
a:hover {
  color: #9c27b0;
  cursor: pointer;
  text-decoration: none;
}

/* line 191, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.btn-actions a {
  margin: 0 5px;
}
/* line 194, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.btn-actions .btn-edit {
  color: #ff9800 !important;
}
/* line 197, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.btn-actions .btn-destroy {
  color: #f44336 !important;
}
/* line 200, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.btn-actions .btn-destroy.disabled {
  color: #ababab !important;
  cursor: not-allowed;
}

/* line 206, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.btn-clear-search {
  color: rgba(85, 85, 85, 0.55);
}

/* line 210, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.btn-clear-search:hover {
  color: #9c27b0;
  cursor: pointer;
  text-decoration: none;
}

/* line 217, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.admin-history-form span.select2-selection, .new_user span.select2-selection {
  border-color: #d2d2d2;
  border-radius: inherit;
  border-width: 0px;
  border-bottom-width: 1px;
}

/* line 225, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.non-break-line {
  white-space: nowrap;
}

/* line 229, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.input-group-addon-file {
  background-color: #9c27b0 !important;
}

/* line 234, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.form-group.has-success-no-color label.control-label {
  color: #AAAAAA;
}
/* line 237, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.form-group.has-success-no-color input.form-control {
  border-color: #9c27b0;
}

/* line 242, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.form-group.has-success-no-color.is-focused .form-control {
  background-image: linear-gradient(#9c27b0, #9c27b0), linear-gradient(#D2D2D2, #D2D2D2);
}

/* line 246, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.form-control-addon {
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 6px;
}

/* line 253, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.form-control-addon:hover {
  cursor: pointer;
}

/* line 257, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.toggle-maps {
  color: #9c27b0;
}

/* line 261, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.show-maps {
  color: #cecece;
}

/* line 265, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.maps {
  margin-bottom: 10px;
}
/* line 267, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.maps .location-picker {
  height: 350px;
}

/* line 272, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
#register-place-modal {
  z-index: 1500;
}
/* line 274, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
#register-place-modal .modal-body {
  padding-left: 15px;
  padding-right: 15px;
}

/* line 281, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.modal-footer input.btn {
  margin: 0;
}

/* line 286, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.no-margin {
  margin: 0px !important;
}

/* line 290, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.section-404 {
  padding-left: 30px;
}
/* line 292, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.section-404 h1 {
  font-size: 100px;
  margin-bottom: 0px;
  line-height: 50px;
}
/* line 296, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.section-404 h1 span {
  font-size: 26px;
}
/* line 300, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.section-404 h3 {
  margin: 0px;
}

/* line 305, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
#map {
  position: relative;
  width: 100%;
  height: calc(100% - 70px);
  margin-top: 70px;
}

/* line 312, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
#nav-filter-form .form-control {
  margin-right: 20px;
  min-width: 75px;
}

/* line 317, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
#map-center-address {
  width: 300px;
}

@media screen and (max-width: 1800px) {
  /* line 322, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
  .form-inline {
    display: inline-flex;
    max-width: 92%;
    overflow-x: hidden;
  }

  /* line 327, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
  .nav-icon {
    display: inherit !important;
  }
}
@media screen and (max-width: 990px) {
  /* line 333, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
  #admin-search.nav-bar-search {
    display: block;
    position: innitial !important;
  }

  /* line 337, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
  .nav-icon {
    display: none !important;
  }

  /* line 341, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
  #admin-search.nav-bar-search .form-group .form-control, #admin-search.nav-bar-search .form-group {
    width: 100%;
  }
  /* line 344, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
  #admin-search.nav-bar-search .form-group:last-child, #admin-search.nav-bar-search #search-query {
    width: 90%;
  }

  /* line 348, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
  .btn-submit-nav-bar {
    position: absolute;
    margin: 0;
    right: 0;
    top: 230px;
    height: 42px;
    border: 1px solid #d2d2d2;
  }
}
/* line 358, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.form-inline {
  display: inline-flex;
}

/* line 362, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.nav-icon-left {
  margin-right: 5px;
}

/* line 365, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.nav-icon-right {
  margin-left: 5px;
}

/* line 368, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.nav-icon {
  line-height: 42px;
  height: 42px;
  vertical-align: bottom;
  display: none;
}

/* line 374, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.nav-icon:hover {
  cursor: pointer;
  color: black;
}

/* line 379, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.form-wrapper {
  display: -webkit-box;
  padding: 0 15px;
}

/* line 384, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.filter-row div:first-child, .filter-row-2 .thin-row {
  height: 41px;
}

@media screen and (max-width: 990px) {
  /* line 389, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
  .filter-form-customize {
    padding-right: 65px;
    margin-top: 0;
    margin-bottom: 0;
  }
  /* line 393, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
  .filter-form-customize button {
    margin-top: -10px;
  }
}
/* line 399, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.sidebar[data-active-color="purple"] li.active > a,
.off-canvas-sidebar[data-active-color="purple"] li.active > a {
  background-color: #9c27b0 !important;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4) !important;
}

/* line 405, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.sidebar .nav li.active > a,
.sidebar .nav li.active > a i,
.off-canvas-sidebar .nav li.active > a,
.off-canvas-sidebar .nav li.active > a i {
  color: #FFFFFF !important;
}

/* line 412, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  color: #ffffff !important;
}

/* line 417, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
#login-info a.active {
  background-color: #9c27b0;
  color: white;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
}

/* line 423, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.dropdown-menu-seperator {
  margin: 0 5px;
}

/* line 427, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
table.table thead tr th {
  white-space: nowrap;
}

/* line 431, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.donation-type-wrapper {
  padding-bottom: 0px;
  height: 36px;
  position: relative;
}
/* line 435, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.donation-type-wrapper .donation-types {
  position: absolute;
  bottom: 0px;
  display: flex;
}
/* line 439, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.donation-type-wrapper .donation-types label {
  color: #555555;
}
/* line 442, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.donation-type-wrapper .donation-types label:first-child {
  margin-right: 30px;
}

/* line 448, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.clear-both {
  clear: both;
}

/* line 452, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
table.stats {
  margin-top: 20px;
  float: left;
}
/* line 455, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
table.stats td.key {
  font-weight: bold;
}
/* line 458, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
table.stats td.value {
  padding: 0 30px 0 5px;
}

/* line 463, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.gr-fields {
  border: 1px solid #c0c0c0;
  padding: inherit;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 10px;
}
/* line 470, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.gr-fields legend {
  width: auto;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 10px;
}

/* line 478, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.search-criteria {
  margin-left: 10px;
}

/* line 482, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.yellow-tooltip + .tooltip > .tooltip-inner {
  background-color: rgba(255, 247, 0, 0.7);
}

/* line 486, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.yellow-tooltip + .tooltip > .tooltip-arrow {
  border-bottom-color: rgba(255, 247, 0, 0.7);
}

/* line 490, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.user-stats {
  display: inline-block;
}
/* line 492, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.user-stats p {
  height: 41px;
  margin: 0;
  display: flex;
  align-items: flex-end;
}
/* line 497, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.user-stats p span {
  font-weight: bold;
  margin: 0 5px;
}

/* line 504, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.address-truncate {
  display: block;
  display: -webkit-box;
  max-width: 200px;
  height: 55px;
  margin: 0 auto;
  line-height: 1.4;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 518, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.thin-row .btn {
  padding: 12px;
}
/* line 522, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.thin-row #download-links {
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}
/* line 526, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.thin-row #download-links .excel-icon {
  height: 24px;
  max-width: 24px;
}

/* line 533, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.navbar.navbar-transparent.navbar-absolute {
  padding-top: 0;
  padding-bottom: 0;
}

/* line 539, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.main-panel .content {
  margin-top: 50px;
}

/* line 544, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.card-2 {
  margin-top: 5px;
}
