/* line 2, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.wrapper .main-panel {
  overflow: auto;
}
/* line 5, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.wrapper .sidebar, .wrapper .sidebar-wrapper, .wrapper .logo {
  background-color: #fff;
}
/* line 8, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.wrapper .sidebar::after {
  background-color: #fff;
}
/* line 11, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.wrapper .sidebar .sidebar-wrapper {
  overflow: auto;
}
/* line 15, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.wrapper .sidebar img.logo-image {
  position: absolute;
  top: 5px;
  left: 18px;
  width: 48px;
}
/* line 21, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.wrapper .sidebar a.simple-text {
  text-align: left;
  padding-left: 60px;
}

/* line 28, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.main-panel > .content {
  padding: 0px;
}

@media (min-width: 992px) {
  /* line 33, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
  .navbar-form {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 15px;
  }
}
/* line 42, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
form.header-form .form-group {
  margin: 0;
}

/* line 47, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.custom-pagination {
  margin-top: 15px;
  text-align: center;
}
/* line 51, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.custom-pagination .pagination-sm {
  display: inline-flex;
}
/* line 54, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.custom-pagination .pagination-sm li.active {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #9c27b0;
}
/* line 60, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.custom-pagination .pagination-sm li.active a {
  color: white;
}
/* line 66, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.custom-pagination .pagination-sm li a {
  font-size: 14px;
  line-height: 30px;
}

/* line 75, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.navbar-form.filter-form-customize .form-control {
  margin-left: 20px;
}

/* line 82, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.table-responsive table.table thead {
  border-bottom: 1px solid #d2d2d2;
}

/* line 90, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
table.table td span {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

/* line 96, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.table-group {
  table-layout: fixed;
}

/* line 101, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.card-content .nano-content {
  position: inherit !important;
  max-height: 300px;
}
/* line 105, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.card-content .table-content {
  padding: 0px;
}

/* line 110, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.link-success {
  padding: 1px 5px;
  border: 1px solid #4caf50;
  border-radius: 5px;
  background-color: rgba(76, 175, 80, 0.65);
  color: #ffffff;
  cursor: pointer;
}

/* line 119, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.link-success:hover,
.link-success:visited,
.link-success:focus {
  background-color: #4caf50;
  color: #ffffff;
}

/* line 126, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.text-primary {
  color: #9c27b0 !important;
}

/* line 130, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.row-gray {
  background-color: #f5f5f5 !important;
}

/* line 134, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.row-pickable {
  cursor: pointer;
}

/* line 138, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.row-pickable:hover {
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

/* line 144, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.customize-capcha {
  display: inline-block;
  margin: 0;
}
/* line 147, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.customize-capcha .alert-empty {
  border: 1px solid rgba(0, 0, 0, 0.54) !important;
  animation: border 0.8s ease;
}

@keyframes border {
  from {
    outline-color: rgba(156, 39, 176, 0.54);
    outline-width: 10px;
    outline-style: solid;
    outline-offset: -1px;
  }
  to {
    outline-width: 0px;
  }
}
/* line 165, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.btn-capcha {
  height: 41px;
  margin: 10px 0;
  width: 120px;
  position: absolute;
  right: 120px;
  bottom: 15px;
}
/* line 172, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.btn-capcha .customize-capcha {
  position: absolute;
  bottom: 7px;
}

/* line 178, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
a:hover {
  color: #9c27b0;
  cursor: pointer;
  text-decoration: none;
}

/* line 185, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.btn-actions a {
  margin: 0 5px;
}
/* line 188, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.btn-actions .btn-edit {
  color: #ff9800 !important;
}
/* line 191, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.btn-actions .btn-destroy {
  color: #f44336 !important;
}
/* line 194, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.btn-actions .btn-destroy.disabled {
  color: #ababab !important;
  cursor: not-allowed;
}

/* line 200, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.btn-clear-search {
  color: rgba(85, 85, 85, 0.55);
}

/* line 204, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.btn-clear-search:hover {
  color: #9c27b0;
  cursor: pointer;
  text-decoration: none;
}

/* line 211, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.admin-history-form span.select2-selection {
  border-color: #d2d2d2;
  border-radius: inherit;
  border-width: 0px;
  border-bottom-width: 1px;
}

/* line 219, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.non-break-line {
  white-space: nowrap;
}

/* line 223, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.input-group-addon-file {
  background-color: #9c27b0 !important;
}

/* line 228, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.form-group.has-success-no-color label.control-label {
  color: #AAAAAA;
}
/* line 231, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.form-group.has-success-no-color input.form-control {
  border-color: #9c27b0;
}

/* line 236, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.form-group.has-success-no-color.is-focused .form-control {
  background-image: linear-gradient(#9c27b0, #9c27b0), linear-gradient(#D2D2D2, #D2D2D2);
}

/* line 240, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.form-control-addon {
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 6px;
}

/* line 247, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.form-control-addon:hover {
  cursor: pointer;
}

/* line 251, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.toggle-maps {
  color: #9c27b0;
}

/* line 255, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.show-maps {
  color: #cecece;
}

/* line 259, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.maps {
  margin-bottom: 10px;
}
/* line 261, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.maps .location-picker {
  height: 500px;
}

/* line 266, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
#register-place-modal {
  z-index: 1500;
}
/* line 268, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
#register-place-modal .modal-body {
  padding-left: 15px;
  padding-right: 15px;
}

/* line 275, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.modal-footer input.btn {
  margin: 0;
}

/* line 280, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.no-margin {
  margin: 0px !important;
}

/* line 284, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.section-404 {
  padding-left: 30px;
}
/* line 286, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.section-404 h1 {
  font-size: 100px;
  margin-bottom: 0px;
  line-height: 50px;
}
/* line 290, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.section-404 h1 span {
  font-size: 26px;
}
/* line 294, /home/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.section-404 h3 {
  margin: 0px;
}
