/* line 5, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.wrapper .main-panel {
  overflow: auto;
}
/* line 8, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.wrapper .sidebar, .wrapper .sidebar-wrapper, .wrapper .logo {
  background-color: #fff;
}
/* line 11, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.wrapper .sidebar::after {
  background-color: #fff;
}
/* line 14, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.wrapper .sidebar .sidebar-wrapper {
  overflow: auto;
}
/* line 18, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.wrapper .sidebar img.logo-image {
  position: absolute;
  top: 5px;
  left: 18px;
  width: 48px;
}
/* line 24, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.wrapper .sidebar a.simple-text {
  text-align: left;
  padding-left: 60px;
}

/* line 31, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.main-panel > .content {
  padding: 0px;
}

@media (min-width: 992px) {
  /* line 36, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
  .navbar-form {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 15px;
  }
}
/* line 45, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
form.header-form .form-group {
  margin: 0;
}

/* line 50, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.custom-pagination {
  margin-top: 15px;
  text-align: center;
}
/* line 54, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.custom-pagination .pagination-sm {
  display: inline-flex;
}
/* line 57, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.custom-pagination .pagination-sm li.active {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #9c27b0;
}
/* line 63, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.custom-pagination .pagination-sm li.active a {
  color: white;
}
/* line 69, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.custom-pagination .pagination-sm li a {
  font-size: 14px;
  line-height: 30px;
}

/* line 78, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.navbar-form.filter-form-customize .form-control {
  margin-left: 20px;
}
/* line 81, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.navbar-form.filter-form-customize .date-picker {
  width: 100px;
}

/* line 88, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.table-responsive table.table thead {
  border-bottom: 1px solid #d2d2d2;
}

/* line 96, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
table.table td span {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

/* line 102, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.table-group {
  table-layout: fixed;
}

/* line 107, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.card-content .nano-content {
  position: inherit !important;
  max-height: 300px;
}
/* line 111, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.card-content .table-content {
  padding: 0px;
}

/* line 116, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.link-success {
  padding: 1px 5px;
  border: 1px solid #4caf50;
  border-radius: 5px;
  background-color: rgba(76, 175, 80, 0.65);
  color: #ffffff;
  cursor: pointer;
}

/* line 125, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.link-success:hover,
.link-success:visited,
.link-success:focus {
  background-color: #4caf50;
  color: #ffffff;
}

/* line 132, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.text-primary {
  color: #9c27b0 !important;
}

/* line 136, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.row-gray {
  background-color: #f5f5f5 !important;
}

/* line 140, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.row-pickable {
  cursor: pointer;
}

/* line 144, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.row-pickable:hover {
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

/* line 150, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.customize-capcha {
  display: inline-block;
  margin: 0;
}
/* line 153, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.customize-capcha .alert-empty {
  border: 1px solid rgba(0, 0, 0, 0.54) !important;
  animation: border 0.8s ease;
}

@keyframes border {
  from {
    outline-color: rgba(156, 39, 176, 0.54);
    outline-width: 10px;
    outline-style: solid;
    outline-offset: -1px;
  }
  to {
    outline-width: 0px;
  }
}
/* line 171, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.btn-capcha {
  height: 41px;
  margin: 10px 0;
  width: 120px;
  position: absolute;
  right: 120px;
  bottom: 15px;
}
/* line 178, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.btn-capcha .customize-capcha {
  position: absolute;
  bottom: 7px;
}

/* line 184, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
a:hover {
  color: #9c27b0;
  cursor: pointer;
  text-decoration: none;
}

/* line 191, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.btn-actions a {
  margin: 0 5px;
}
/* line 194, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.btn-actions .btn-edit {
  color: #ff9800 !important;
}
/* line 197, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.btn-actions .btn-destroy {
  color: #f44336 !important;
}
/* line 200, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.btn-actions .btn-destroy.disabled {
  color: #ababab !important;
  cursor: not-allowed;
}

/* line 206, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.btn-clear-search {
  color: rgba(85, 85, 85, 0.55);
}

/* line 210, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.btn-clear-search:hover {
  color: #9c27b0;
  cursor: pointer;
  text-decoration: none;
}

/* line 217, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.admin-history-form span.select2-selection, .new_user span.select2-selection {
  border-color: #d2d2d2;
  border-radius: inherit;
  border-width: 0px;
  border-bottom-width: 1px;
}

/* line 225, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.non-break-line {
  white-space: nowrap;
}

/* line 229, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.input-group-addon-file {
  background-color: #9c27b0 !important;
}

/* line 234, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.form-group.has-success-no-color label.control-label {
  color: #AAAAAA;
}
/* line 237, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.form-group.has-success-no-color input.form-control {
  border-color: #9c27b0;
}

/* line 242, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.form-group.has-success-no-color.is-focused .form-control {
  background-image: linear-gradient(#9c27b0, #9c27b0), linear-gradient(#D2D2D2, #D2D2D2);
}

/* line 246, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.form-control-addon {
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 6px;
}

/* line 253, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.form-control-addon:hover {
  cursor: pointer;
}

/* line 257, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.toggle-maps {
  color: #9c27b0;
}

/* line 261, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.show-maps {
  color: #cecece;
}

/* line 265, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.maps {
  margin-bottom: 10px;
}
/* line 267, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.maps .location-picker {
  height: 350px;
}

/* line 272, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
#register-place-modal {
  z-index: 1500;
}
/* line 274, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
#register-place-modal .modal-body {
  padding-left: 15px;
  padding-right: 15px;
}

/* line 281, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.modal-footer input.btn {
  margin: 0;
}

/* line 286, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.no-margin {
  margin: 0px !important;
}

/* line 290, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.section-404 {
  padding-left: 30px;
}
/* line 292, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.section-404 h1 {
  font-size: 100px;
  margin-bottom: 0px;
  line-height: 50px;
}
/* line 296, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.section-404 h1 span {
  font-size: 26px;
}
/* line 300, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.section-404 h3 {
  margin: 0px;
}

/* line 305, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
#map {
  position: relative;
  width: 100%;
  height: calc(100% - 50px);
  margin-top: 50px;
}

/* line 312, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
#nav-bar-map {
  margin-top: 3px;
}

/* line 316, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
#nav-filter-form .form-control {
  margin-right: 20px;
  min-width: 75px;
}

/* line 321, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
#map-center-address {
  width: 300px;
}

@media screen and (max-width: 1800px) {
  /* line 326, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
  .form-inline {
    display: inline-flex;
    max-width: 92%;
    overflow-x: hidden;
  }

  /* line 331, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
  .nav-icon {
    display: inherit !important;
  }
}
@media screen and (max-width: 990px) {
  /* line 337, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
  #admin-search.nav-bar-search {
    display: block;
    position: innitial !important;
  }

  /* line 341, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
  .nav-icon {
    display: none !important;
  }

  /* line 345, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
  #admin-search.nav-bar-search .form-group .form-control, #admin-search.nav-bar-search .form-group {
    width: 100%;
  }
  /* line 348, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
  #admin-search.nav-bar-search .form-group:last-child, #admin-search.nav-bar-search #search-query {
    width: 90%;
  }

  /* line 352, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
  .btn-submit-nav-bar {
    position: absolute;
    margin: 0;
    right: 0;
    top: 230px;
    height: 42px;
    border: 1px solid #d2d2d2;
  }
}
/* line 362, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.form-inline {
  display: inline-flex;
}

/* line 366, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.nav-icon-left {
  margin-right: 5px;
}

/* line 369, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.nav-icon-right {
  margin-left: 5px;
}

/* line 372, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.nav-icon {
  line-height: 42px;
  height: 42px;
  vertical-align: bottom;
  display: none;
}

/* line 378, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.nav-icon:hover {
  cursor: pointer;
  color: black;
}

/* line 383, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.form-wrapper {
  display: -webkit-box;
  padding: 0 15px;
}

/* line 388, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.filter-row div:first-child, .filter-row-2 .thin-row {
  height: 41px;
}

@media screen and (max-width: 990px) {
  /* line 393, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
  .filter-form-customize {
    padding-right: 65px;
    margin-top: 0;
    margin-bottom: 0;
  }
  /* line 397, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
  .filter-form-customize button {
    margin-top: -10px;
  }
}
/* line 403, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.sidebar[data-active-color="purple"] li.active > a,
.off-canvas-sidebar[data-active-color="purple"] li.active > a {
  background-color: #9c27b0 !important;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4) !important;
}

/* line 409, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.sidebar .nav li.active > a,
.sidebar .nav li.active > a i,
.off-canvas-sidebar .nav li.active > a,
.off-canvas-sidebar .nav li.active > a i {
  color: #FFFFFF !important;
}

/* line 416, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  color: #ffffff !important;
}

/* line 421, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
#login-info a.active {
  background-color: #9c27b0;
  color: white;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
}

/* line 427, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.dropdown-menu-seperator {
  margin: 0 5px;
}

/* line 431, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
table.table thead tr th {
  white-space: nowrap;
}

/* line 435, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.donation-type-wrapper {
  padding-bottom: 0px;
  height: 36px;
  position: relative;
}
/* line 439, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.donation-type-wrapper .donation-types {
  position: absolute;
  bottom: 0px;
  display: flex;
}
/* line 443, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.donation-type-wrapper .donation-types label {
  color: #555555;
}
/* line 446, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.donation-type-wrapper .donation-types label:first-child {
  margin-right: 30px;
}

/* line 452, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.clear-both {
  clear: both;
}

/* line 456, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
table.stats {
  margin-top: 20px;
  float: left;
}
/* line 459, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
table.stats td.key {
  font-weight: bold;
}
/* line 462, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
table.stats td.value {
  padding: 0 30px 0 5px;
}

/* line 467, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.gr-fields {
  border: 1px solid #c0c0c0;
  padding: inherit;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 10px;
}
/* line 474, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.gr-fields legend {
  width: auto;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 10px;
}

/* line 482, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.search-criteria {
  margin-left: 10px;
}

/* line 486, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.yellow-tooltip + .tooltip > .tooltip-inner {
  background-color: rgba(255, 247, 0, 0.7);
}

/* line 490, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.yellow-tooltip + .tooltip > .tooltip-arrow {
  border-bottom-color: rgba(255, 247, 0, 0.7);
}

/* line 494, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.user-stats {
  display: inline-block;
}
/* line 496, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.user-stats p {
  height: 41px;
  margin: 0;
  display: flex;
  align-items: flex-end;
}
/* line 501, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.user-stats p span {
  font-weight: bold;
  margin: 0 5px;
}

/* line 508, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.address-truncate {
  display: block;
  display: -webkit-box;
  height: 55px;
  margin: 0 auto;
  line-height: 1.4;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 521, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.thin-row .btn {
  padding: 12px;
}
/* line 525, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.thin-row #download-links {
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}
/* line 529, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.thin-row #download-links .excel-icon {
  height: 24px;
  max-width: 24px;
}

/* line 536, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.navbar.navbar-transparent.navbar-absolute {
  padding-top: 0;
  padding-bottom: 0;
}

/* line 542, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.main-panel .content {
  margin-top: 50px;
}

/* line 547, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.card-2 {
  margin-top: 5px;
}

/* line 552, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
#table-long-width .min-wid-200 {
  min-width: 200px;
}

/* line 558, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
#new-patient .no-padding-left {
  padding-left: 0;
}
/* line 562, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
#new-patient .no-padding-right {
  padding-right: 0;
}

/* line 567, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.float-left {
  float: left;
}

/* line 571, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.flabel-subtitle {
  position: absolute;
  top: -28px;
  right: 0;
  font-size: 12px;
  line-height: 1.07143;
  color: #555;
  font-weight: 400;
  margin: 16px 0 0 0;
}

/* line 582, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.patient-profile {
  border: 1px solid #cacaca;
  width: 100%;
}
/* line 585, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.patient-profile tr {
  border: 1px solid #cacaca;
}
/* line 587, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.patient-profile tr th {
  background-color: #eee;
  text-align: right;
  width: 40%;
}
/* line 593, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.patient-profile td, .patient-profile th {
  padding: 10px 20px;
}
/* line 596, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.patient-profile span.fb-cover-name {
  font-weight: bold;
}
/* line 601, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.patient-profile .t-head th {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
/* line 608, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.patient-profile.donators-table {
  margin-top: 20px;
}

/* line 614, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.donators-table .no-result-subt {
  margin: 10px 0;
}

/* line 619, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.filter-donators {
  padding-right: 0;
}
/* line 621, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.filter-donators .form-group {
  width: calc(100% - 50px);
}
/* line 624, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.filter-donators .form-control {
  width: 100%;
}

/* line 629, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.no-padding {
  padding: 0 !important;
}

/* line 634, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.donators-table .dataTables_wrapper {
  display: inline;
}
/* line 639, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.donators-table #dt-table thead tr th {
  font-size: 15px;
  font-weight: normal;
  text-align: left;
}
/* line 644, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.donators-table #dt-table tbody tr td {
  font-size: 14px;
  font-weight: normal;
}
/* line 648, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.donators-table #dt-table .show-detail:hover {
  cursor: pointer;
}
/* line 650, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.donators-table #dt-table .show-detail:hover .fa {
  text-shadow: 1px 1px 2px #efefef, 0 0 25px #9b27b0, 0 0 5px #9b27b0;
}
/* line 655, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.donators-table #dt-table .show-detail .fa {
  text-shadow: 1px 1px 2px #efefef, 0 0 25px #9c9c9c, 0 0 5px #808080;
  margin-right: 5px;
}
/* line 662, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.donators-table #dt-table .sub-table th {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}
/* line 667, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.donators-table #dt-table .sub-table td {
  font-size: 13px;
  font-weight: normal;
}
/* line 671, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.donators-table #dt-table .sub-table th, .donators-table #dt-table .sub-table td {
  padding: 5px 8px;
}
/* line 674, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.donators-table #dt-table .sub-table .sub-th {
  background-color: #f7f7f7;
}
/* line 680, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.donators-table .pagination li a:hover,
.donators-table .pagination li a:focus {
  background-color: #f4f4f4;
  font-weight: bold;
  color: #9c27b0;
}
/* line 687, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.donators-table .pagination > li > a,
.donators-table .pagination > li > span {
  font-weight: normal;
  text-transform: capitalize;
}
/* line 693, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.donators-table table.dataTable thead .sorting_desc_disabled:after {
  bottom: 10px;
}
/* line 697, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.donators-table table.dataTable thead .sorting:after,
.donators-table table.dataTable thead .sorting_asc:after,
.donators-table table.dataTable thead .sorting_desc:after,
.donators-table table.dataTable thead .sorting_asc_disabled:after {
  margin-top: 6px;
}
/* line 705, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.donators-table #donator-histories .table-striped thead th {
  font-weight: bold;
  text-align: center;
}
/* line 709, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.donators-table #donator-histories .table-striped th, .donators-table #donator-histories .table-striped td {
  font-size: 14px;
}
/* line 712, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.donators-table #donator-histories .table-striped th:first-child,
.donators-table #donator-histories .table-striped td:first-child {
  width: 100px;
}
/* line 718, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.donators-table .max-width-80 {
  width: 80px !important;
}
/* line 721, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.donators-table .max-width-75 {
  width: 75px !important;
}
/* line 724, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.donators-table .max-width-100 {
  width: 100px !important;
}
/* line 727, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.donators-table .max-width-50 {
  width: 50px;
}
/* line 730, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.donators-table .fa-2x {
  font-size: 1.3em;
}
/* line 733, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.donators-table .fa-2x:hover {
  font-weight: bold;
  cursor: pointer;
}
/* line 737, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.donators-table #donator-histories {
  margin-top: 15px;
}

/* line 742, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.top-20 {
  margin-top: 20px;
}

/* line 746, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.card-3 {
  margin-top: 10px;
  margin-bottom: 5px;
}
/* line 750, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.card-3 .card-content {
  overflow: visible;
}

/* line 755, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.no-height {
  height: 0px;
}

/* line 759, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.collapse-link.active::before {
  content: '[-] ';
}

/* line 763, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.collapse-link::before {
  content: '[+] ';
}

/* line 769, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.datepicker .table-condensed .prev, .datepicker .table-condensed .next {
  display: block !important;
}

/* line 775, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.table-ad-history .unlimited-place {
  color: grey;
  font-style: italic;
}

/* line 783, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.patient-form .form-group--file {
  border-bottom: 1px solid #D2D2D2;
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 791, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.patient-form .form-group--file .btn {
  margin: 0;
}
/* line 797, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.patient-form .photos-preview {
  display: flex;
  align-items: center;
  flex-flow: wrap;
}
/* line 802, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.patient-form .photos-preview .patient-img-prev {
  max-width: 160px;
  max-height: 180px;
  width: auto;
  height: auto;
  margin: 10px 10px 0 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
  display: flex;
  flex-direction: column;
}
/* line 814, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.patient-form .photos-preview .patient-img-prev .spinner {
  display: none;
}
/* line 819, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.patient-form .photos-preview .patient-img-prev.loading .spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  opacity: 0.8;
}
/* line 833, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.patient-form .photos-preview .patient-img-prev img {
  max-width: 160px;
  width: auto;
  height: auto;
  max-height: 160px;
  object-fit: cover;
}
/* line 841, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.patient-form .photos-preview .patient-img-prev figcaption {
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 2px;
  line-height: 20px;
  background: #ccc;
}
/* line 852, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.patient-form .photos-preview .destroy-image {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 50%;
  transform: translate(50%, -50%);
  z-index: 2;
  padding: 0 6px;
  background: red;
  border: 1px solid white;
  color: white;
}
/* line 866, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.patient-form .file-count {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
/* line 871, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.patient-form .file-count__text {
  margin: 0;
  font-size: 14px;
  color: #455160;
}
/* line 877, /Users/framgia/sontd/workspace/blood_management_system/app/assets/stylesheets/admin/main.scss */
.patient-form .file-count .fa {
  cursor: pointer;
}
