<table class="patient-profile donators-table">
  <thead>
    <tr>
      <th colspan="2">Những người đã hiến máu cho <%= patient.name + " [#{patient.users.size}]" %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="2">
        <div class="search-donators">
          <%= render "search_bar", patient: patient, q: q %>
        </div>
        <div id="results">
          <% if q.result.blank? %>
            <p class="no-result-subt text-danger">Chưa có thông tin về người đã hiến máu cho bệnh nhân này.</p>
          <% end %>
        </div>
        <% if patient.users.any? %>
          <p class="no-result-subt text-danger">table user histories here</p>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
