<div class="container-fluid">
  <div class="row filter-row-2">
    <div class="col-md-12">
      <%= link_to "Thêm mới", [:new, :admin, :patient], class: "btn btn-primary no-margin" %>
      <%# search_form_for @q, url: [:admin, :patients], method: :get, id: "admin-search",
        class: "navbar-form header-form navbar-right filter-form-customize" do |f| %>
        <%= link_to [:admin, :patients], class: "btn-clear-search hidden" do %>
          <i class="fa fa-close"></i>
        <% end %>
        <%# f.text_field :date_gteq, class: "form-control date-picker dp-1", placeholder: "Từ ngày...", title: "Từ ngày..." %>
        <%# f.text_field :date_lteq, class: "form-control date-picker dp-2", placeholder: "Đến ngày...", title: "Đến ngày..." %>
        <%# f.search_field @default_search_by, class: "form-control search-key",
          placeholder: "Tìm kiếm...", title: "Tìm kiếm theo tên người dùng hoặc tên địa cơ sở tiếp nhận" %>
        <button type="submit" class="btn btn-white btn-round btn-just-icon">
          <i class="material-icons">search</i><div class="ripple-container"></div>
        </button>
      <%# end %>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-md-12 stats-row">
      <%# render "stats", stats: @stats %>
    </div>
  </div> -->
  <div class="row">
    <div class="col-md-12">
      <div class="card card-2" id="search-results">
        <%= render "table_result", patients: @patients %>
      </div>
    </div>
  </div>
</div>
