@import "bootstrap-sprockets";
@import "bootstrap";

.login-body {
  .input-group {
    margin-bottom: 15px;
  }
}

.modal-footer.actions {
  text-align: center;
}

.devise_error_messages {
  h2 {
    display: none;
  }
  ul {
    color: red;
    list-style-type: disc;
    margin-left: 20px;
  }
}
