$border: rgba(151, 0, 1, 0.3);
$primary_color: rgba(151, 0, 1, 1);

.login-body {
  .input-group {
    margin-bottom: 15px;
  }
}

.modal-footer.actions {
  text-align: center;
}

.devise_error_messages {
  margin-bottom: 15px;
  h2 {
    display: none;
  }
  ul {
    color: red;
    list-style-type: disc;
    margin-left: 20px;
  }
}

.content {
  margin-top: 90px;
}

.avatar {
  text-align: center;
  margin-bottom: 15px;
  img {
    max-width: 100%;
    border: 1px solid #c2c2c2;
  }
  label {
    margin: 15px auto 0 auto;
  }
}

.label-control {
  text-align: right;
}

.form-horizontal-group {
  display: block;
  min-height: 34px;
  textarea {
    margin-bottom: 15px;
  }
}

.group-btns {
  .btn {
    margin: 0 10px;
  }
}

.center-block {
  margin: 0 auto;
}

.list {
  margin-left: 25px;
  list-style-type: disc;
}

label.boolean.control-label.checkbox.toggle-button {
  padding-left: 0;
}

.response-message {
  line-height: 30px;
  margin-right: 15px;
}

.profile-table {
  border: 1px solid #cacaca;
  width: 100%;
  tr {
    border: 1px solid #cacaca;
    td:first-child {
      background-color: #d1e5e8;
      text-align: right;
      width: 35%;
    }
  }
  td {
    padding: 10px 20px;
  }
  span.fb-cover-name {
    font-weight: bold;
  }
}

.history-table-detail {
  border: 1px solid #cacaca;
  width: 100%;
  thead {
    font-weight: bold;
    td {
      text-align: center;
      background-color: #aebec1;
    }
    td:nth-child(2n) {
      border-left: 1px solid #ddd;
    }
  }
  tbody {
    tr {
      border: 1px solid #cacaca;
      td:first-child {
        background-color: #d1e5e8;
        text-align: right;
        width: 25%;
      }
      td:nth-child(2n+3) {
        background-color: #d1e5e8;
        text-align: right;
        width: 15%;
      }
    }
    td {
      padding: 10px 20px;
    }
    span.fb-cover-name {
      font-weight: bold;
    }
  }
}

.normal-text,
  .normal-text:hover {
  color: inherit;
  text-decoration: none;
}

.courseArchive_sidebar {
  min-height: inherit;
  .single_sidebar_large {
    margin-top: 30px;
  }
}

.material-icons-sm {
  .material-icons {
    font-size: 14px;
  }
}

.icon-verified {
  color: #5d93fe;
}

.icon-unverified {
  color: #808080;
}

.table-group {
  table-layout: fixed;
}

.table {
  .nano-content {
    position: inherit !important;
    max-height: 370px;
  }
  .table-content {
    padding: 0px;
  }
}

.article-index {
  .article-img-container {
    height: 300px;
    text-align: center;
    vertical-align: middle;
    img {
      position: relative;
      top: -50px;
      width: 100%;
      height: inherit;
    }
  }
}

#imgBanner {
  background-image: url("img/banner.png");
  background-size: 100%;
}

.scrollToTop {
  background: url("img/bootom-top-arrow.png") no-repeat scroll 13px 12px #ffffff;
}

.courseArchive_content {
  .article-content {
    img {
      max-width: 100%;
    }
    text-align: justify;
  }

  $size: 24px;
  .social-share-button {
    .ssb-icon {
      background-size: $size $size;
      height: $size;
      width: $size;
    }
  }
  .social-share-block {
    height: 24px;
    display: inline-block;
  }
  .blog_commentbox {
    padding-right: 0px;
  }
  .no-border {
    border: none;
  }
}

.like-share-fb .fb-like {
  margin-top: 30px;
}

.fb-comments {
  margin-top: 15px;
}

.login-bottom {
  margin-bottom: 30px;
  .remember-login {
    display: inline-block;
    height: 42px;
    padding-top: 10px;
  }
}

.wp-form-control-2 {
  border: 1px solid $border;
}

.wp-form-control-2:focus {
  border: 1px solid $primary_color;
}

a:hover {
  color: $primary_color;
  cursor: pointer;
}

.right_sidebar {
  padding: 0px 15px;
  .media-object {
    object-fit: cover;
  }
}

.no-data {
  min-height: 200px;
}

.waiting-ajax {
  background: url("img/ajax-loader.gif") center center no-repeat;
}

.slick-loading .slick-list {
  background: #fff url("img/ajax-loader.gif") center center no-repeat;
}

.pd-t-70 {
  padding-top: 70px;
}

.blog_summary, .feed_date {
  color: #555555;
}

.side_add img {
  width: 100%;
}

.event-details {
  .sign-up {
    margin: 30px auto;
  }
}

.event-title {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 100%;
  span {
    position: absolute;
    bottom: 0;
    text-transform: uppercase;
    left: 35%;
  }
}

.corner-ribbon{
  width: 200px;
  background: #e43;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  vertical-align: bottom;
  height: 80px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.corner-ribbon.sticky{
  position: absolute;
}

.corner-ribbon.shadow{
  box-shadow: 0 0 7px rgba(0,0,0,.3);
}

.corner-ribbon.top-left{
  top: 25px;
  left: -50px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.corner-ribbon.top-right{
  top: -35px;
  right: -95px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.white{background: #f0f0f0; color: #555;}
.corner-ribbon.black{background: #333;}
.corner-ribbon.grey{background: #999;}
.corner-ribbon.blue{background: #39d;}
.corner-ribbon.green{background: #2c7;}
.corner-ribbon.turquoise{background: #1b9;}
.corner-ribbon.purple{background: #95b;}
.corner-ribbon.red{background: #e43;}
.corner-ribbon.orange{background: #e82;}
.corner-ribbon.yellow{background: #ec0;}

.home-page-section {
  padding-top: 0px !important;
}

@font-face {
  font-family: 'Maven Pro', sans-serif, 'Roboto Slab', serif;
  // src: url("slick/slick.eot");
  // src: url("slick/slick.eot?#iefix") format("embedded-opentype"), url("slick/slick.woff") format("woff"), url("slick/slick.ttf") format("truetype"), url("slick/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

.course_nav .slick-prev {
  background-image: url("img/course-nav-prev.png");
}
.course_nav .slick-next {
  background-image: url("img/course-nav-next.png");
}

.first-event {
  p {
    text-align: justify;
  }
  p img {
    float: left;
    margin: 0 15px 5px 0;
    max-width: 45%;
  }
  p a {
    display: block;
    color: $primary_color;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: inherit;
  }
  p span.time-stamp {
    display: block;
    text-align: right;
    font-weight: bold;
    margin-top: 15px;
  }
  p.span {
    color: #555;
  }
}

.aboutus_area.event {
  padding-right: 0;
}

.single-article-small {
  .article-img-area {
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
    img {
      width: 100%;
      height: 256px;
      object-fit: cover;
    }
  }
  h3 a {
    color: $primary_color;
  }
  p {
    color: #555;
  }
}

.article-caption {
  bottom: 20% !important;
  top: initial;
  p {
    font-size: 18px;
    font-weight: normal;
  }
}

.sort_link {
  white-space: nowrap;
}

.no-wrap {
  white-space: nowrap;
}

.text-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden !important;
}

#event-map {
  margin-top: 15px;
  margin-bottom: 10px;
  height: 500px;
}

.map-caption {
  text-align: center;
  font-style: italic;
}

.no-margin {
  margin: 0 !important;
}

.slides-navigation a.prev {
  background-image: url("img/slider/navigation-icon.png");
}

.slides-navigation a.next {
  background-image: url("img/slider/navigation-icon.png");
}

.wp-form {
  .form-control {
    margin-bottom: 15px;
  }
}

body {
  font-family: 'Maven Pro', sans-serif, 'Roboto Slab', serif;
  font-size: 16px;
}

#footer {
  .about-section {
    h3 span {
      text-transform: initial;
      font-size: 16px;
      font-weight: normal;
      margin-left: 10px;
      // color: #cecece;
    }
    ul {
      // color: #cecece;
      list-style-type: circle;
      -moz-column-count: 2;
      -moz-column-gap: 20px;
      -webkit-column-count: 2;
      -webkit-column-gap: 20px;
      column-count: 2;
      column-gap: 20px;
      list-style-position: inside;
      text-align: justify;

      li {
        margin-bottom: 5px;
      }
    }
  }
  .links-section ul li a, .about-section h3 span, .about-section ul {
    color: #cecece;
  }
  .links-section ul li a:hover {
    color: #970001;
    font-weight: bold;
  }
}

#login-info {
  a.normal-text:hover {
    color: white !important;
  }
}

.table-contact tr td:nth-child(2) {
  padding-left: 10px;
}

.text-small {
  font-size: 16px !important;
}

.hd-ctl-btn:last-child {
  margin: 0 10px;
}

.page-logo {
  max-width: 65%;
  margin: 50px auto;
}

.events_slider .slick-slide img {
  max-height: 400px;
  object-fit: cover;
}
