<footer class="footer">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="https://github.com/trandaison/blood_management_system/issues/new"
            title="If you find a bug please add an issue on GitHub or fork the project and send a pull request."
            target="_blank">
            <i class="fa fa-bug"></i>&nbsp;Report Bugs
          </a>
        </li>
        <li>
          <a href="https://github.com/trandaison/blood_management_system"
            title="Project was developed in Ruby on Rails. We are always thrilled to receive pull requests."
            target="_blank">
            <i class="fa fa-link"></i>&nbsp;Contributing
          </a>
        </li>
        <li>
          <a href="https://github.com/trandaison/blood_management_system"
          target="_blank">
            <i class="fa fa-github"></i>&nbsp;Github
          </a>
        </li>
      </ul>
    </nav>
    <p class="copyright pull-right">
      &copy; <script>document.write(new Date().getFullYear())</script> <a href="https://www.facebook.com/sontran.ds">Son Tran</a>
    </p>
  </div>
</footer>
